.midContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Ensure these sections take full width */
.div1,
.div2,
.div3,
.div4 {
  width: 100%;
}
/* div 4 is until the end of the mid container */