.weather-map {
  height: 20vh;
  width: 100%;
}

.info.legend {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.9;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.legend-item span {
  width: 20px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #000;
}

.overlay-toggle {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); /* Center align */
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex; /* Use flexbox */
  gap: 8px; /* Space between buttons */
}

.overlay-toggle button {
  padding: 8px 12px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.overlay-toggle button:hover {
  background: #0056b3;
}

@media (max-width: 700px) {
  .info.legend {
    display: none; /* Hide legend on small screens */
  }
}
